:host {
  display: block;
  position: relative;
  overflow: hidden;
  * {
    box-sizing: border-box;
  }
}

$background-color: white;
$transition-rule: opacity .3s ease-in-out;

:host-context(.max-height) {
  div, img {
    height: 100%;
  }
  img {
    object-fit: cover;
  }
}

.ab-image {
  width: 100%;
  height: 100%;
  background-color: $background-color;

  &__source-image {
    opacity: 1;
    transition: $transition-rule;

    &_hidden {
      opacity: 0;
    }
  }

  &__pre-render {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: $transition-rule;

    &_hidden {
      opacity: 0;
      pointer-events: none;
    }
  }

  &__thumbnail, &__original-image {
    min-width: 100%;
    width: 100%;
    display: block;
  }
}