/* Base styles */

@import "helpers/mixins";
@import "helpers/variables";
@import "helpers/functions";

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  width: 100%;
  height: 100%;
}

body {
  font-family: $fonts-stack;
  overflow-x: hidden;
  letter-spacing: 0;
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
  font-size: 18px;
  line-height: 1.4;
  color: transparentize(#000, .2);
}

body {
  width: 100%;
  min-height: 100%;
  margin: 0;
}

* {
  -webkit-tap-highlight-color: transparentize(#000, .76);
}

a, button, input {
  -webkit-tap-highlight-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}
b, strong {
  font-family: merge-fonts-stack('Ubuntu', $fonts-stack);
  font-weight: 500;
}

::selection {
  background-color: #7c45dc;
  color: #fff;
}

@include bem(scroll) {

  ::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }

  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px transparentize(#000, .8);
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #fff;
  }

  ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: transparentize(#000, 0.9);
    box-shadow: inset 0 0 6px transparentize(#000, .6);
  }

  ::-webkit-scrollbar-thumb:window-inactive {
    background: transparentize(#000, .97);
    box-shadow: inset 0 0 6px transparentize(#000, .8);
  }

  ::-webkit-scrollbar,
  ::-webkit-scrollbar-thumb,
  ::-webkit-scrollbar-track,
  ::-webkit-scrollbar-thumb:window-inactive {
    opacity: 0;
    @include transition-only-for(.2s, (width, opacity));
  }

  &:hover {
    ::-webkit-scrollbar {
      width: 5px;
    }
    ::-webkit-scrollbar,
    ::-webkit-scrollbar-thumb,
    ::-webkit-scrollbar-track,
    ::-webkit-scrollbar-thumb:window-inactive {
      opacity: 1;
    }
  }
}

button, a {
  &.icon {
    > i {
      padding-right: 3%;
    }
  }
}